<!-- Modal -->
<div ng-repeat="p in analisis.promisses">
  <div ng-repeat="data in p.data">
    <div class="modal fade" id="myModal-cumplimiento-[[p.id]]-[[data.id]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">[[data.cumplimiento_total]] de avance - ¿por qué?</h4>
          </div>
          <div class="modal-body">
            <p>[[data.justificacion_avance]]</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
