<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8 logo-fci">
        <ul class="list-unstyled">
          <li>
            Un proyecto de <a href="//ciudadanointeligente.org" target="_blank"><img src="https://ckannet-storage.commondatastorage.googleapis.com/2015-01-22T13:31:59.187Z/logo-ciudadanoi-parafondooscuro.png" title="Fundación Ciudadano Inteligente">
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <ul class="list-unstyled">
          <li><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20del%20observatorio" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Ciudadano Inteligente</a></li>
          <li><a href="https://www.facebook.com/ciudadanointeligente" target="blank"><i class="fa  fa-facebook"></i>/ciudadanointeligente</a></li>
          <li><a href="https://twitter.com/ciudadanoi" target="blank"><i class="fa fa-twitter"></i>@ciudadanoi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Google Analytics: change site.analytics to be your site's ID. -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', "{{ site.analytics }}", "{{ site.basedomain }}");
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
