<div class="row">
  <div class="col-md-12">
    <div class="visual-main">
      <div class="visible-lg dataviz-desktop">
        <p>
        <iframe frameborder="0" height="1100" scrolling="no" src="https://public.tableau.com/views/DDAH2016SuperDesktop/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>
        </p>
      </div>
      <div class="visible-md dataviz-desktop">
        <iframe frameborder="0" height="1100" scrolling="no" src="https://public.tableau.com/views/DDAH2016Desktop/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>
      </div>
      <div class="visible-sm dataviz-tablet">
        <iframe frameborder="0" height="1100" scrolling="no" src="https://public.tableau.com/views/DDAH2016Tablet/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>
      </div>
      <div class="visible-xs dataviz-mobile">
        <iframe frameborder="0" height="1200" scrolling="no" src="https://public.tableau.com/views/DDAH2016Mobile/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>
      </div>
    </div>
  </div>
</div>
