body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue;
}

p {
  text-align: initial;
  margin: initial;
  padding-top: initial;
  padding-bottom: initial;
  border-bottom: initial;
  background: initial;
}

a {
  color: $red;
}

a:hover {
  color: $cian;
}

section {
  font-family: 'Open Sans';
    margin: 110px 0 0;
}

.light {
  color: $grey-light;
}

.strong {
  font-weight: 900;
}

/**
 * Navbar
 */


.header-menu {
  position: absolute;
    width: 100%;
    padding: 0 15px;
    z-index: 55;

}

.header-menu.sticky {
  position: fixed;
  margin: 0;
  -moz-animation: bounceInDown 0.5s;
  -webkit-animation: bounceInDown 0.5s;
  animation: bounceInDown 0.5s;
  background: $grey-lighter;
}

.header-menu.fixed {
  -moz-animation: bounceIn 0.5s;
  -webkit-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
  background-color:$blue;
  padding-top:15px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
  margin-top: 2px;
  margin-bottom: 15px;
}

.navbar-toggle {
  margin-top: -46px;
  margin-right: 0px;
}

.navbar-header span {
  color: #FF5F37;
}

/*overwrite clndr css*/

.navbar {
  background: transparent;
  font-weight: 400;
  border-radius: 0px;
}

.navbar-default {
  border-color: transparent;
  .navbar-brand {
    color: #FFF;
    padding: 0px;
  }
  .navbar-nav > li > a {
    color: #FFF;
    padding: 6px 0px;
    margin: 0 15px;
  }
}

.navbar-right {
  margin-top: 10px;
}

.sticky .navbar-nav > li > a {
  color: write;
}

.navbar-default .navbar-nav > li > a:hover{
  color: $cian;
  border-bottom: 2px solid $cian;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  border-bottom: 10px solid black;
}


.ct-series-a {
  .ct-slice-donut {
    stroke: #FFF
  }
}

.ct-label {
  fill: #646975;
  color: #646975;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}

.only-txt .ct-label {
  fill: #646975;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.sticky .brand {
  background: url(../img/logo-ddah.png) no-repeat;
  height: 27px;
  width: 243px;
}

.fixed .brand {
  background: url(../img/logo-ddah.png) no-repeat;
  height: 27px;
  width: 243px;
  margin-top:15px;
}


.ct-series-a .ct-slice-donut {
  stroke: $blue;
}

.ct-series-b .ct-slice-donut {
  stroke: $grey-lighter;
}

.ct-chart {
  position: relative;
  font-weight: 800;
}


.notabajada{
  text-transform: uppercase;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  margin-top: 6px;
}

.avancebajada{
    text-transform: uppercase;
    text-align: center;
    margin-top: -66px;
    margin-bottom: 50px;
    font-size: 9px;
    font-weight: 600;
}
/*METODOLOGIA*/
ol li {
  font-size: 16px;
  /*line-height: 35px;*/
  margin-bottom: 15px;
  font-weight:600;
}
#metodologia h1{
  margin-top: 20px;
}

/*cumplimientos*/
.fulfillment {
  h3, h4 {
    margin-top: initial;
  }
  .percentage {
    float: right;
    width: 95px;
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/**
 * Headings
 */
h1{
  font-weight:600;
  color: $red;
}

h2 {
  color: $red;
  font-size: 16px;
  font-weight: 700;
}

h4 {
  color: $grey;
}

h5 {
  text-transform: uppercase;
}

.bajada {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto 20px;
  color: $blue;
}

.destacado {
  font-family: 'Open Sans';
  font-size: 16px;
  color: $blue;
  margin-bottom: 20px;
  font-weight: 400;
  max-width: 800px;
}

.small {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: $grey-light;
}

small {
    font-size: 11px;
}

/**
 * Welcome
 */

#welcome {
  background-color: $red;
  background: url(../img/header.png) 60%/auto no-repeat;
  height: 600px;
  .jumbotron>.container {
      div.row:nth-child(2) {
        padding-top: 100px;
      }
    }

  .jumbotron {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    min-height: 410px;
    padding-top: initial;

    h1 {
      color: white;
      font-weight:700;
      font-size: 50px;
      margin-top:95px;
    }
    p {
      color: white;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 80px;
      font-weight: 600;
    }
    a {
      font-size: 12px;
    }
  }
}


p.donut{
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: $grey-light;
  height: 50px;
  a{
    text-decoration: none;
    color: $blue-light;
  }
  a:hover{
    color: $blue-dark;
  }
}

p.text-center.note{
  color: $grey;
  font-weight: 600;
  font-size: 16px;
  margin-top: -3px;
}

#welcome .ct-series-a .ct-slice-donut {
  stroke: $yellow;
}

#welcome .ct-series-b .ct-slice-donut {
  stroke: $yellow-lighter;
}

#welcome .ct-label{
  fill: white;
  color: white;
  margin-top: 88px;
}

.chart-total .totalbajada{
    text-transform: uppercase;
    text-align: center;
    margin-top: 123px;
    font-size: 9px;
    font-weight: 600;
}

.chart-total .textototal{
    text-transform: uppercase;
    text-align: center;
    margin-top: -17px;
    margin-bottom: -171px;
    font-size: 9px;
    font-weight: 600;
}

.jumbotron .notatotal{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -171px;
    font-size: 9px;
    font-weight: 600;
}

.bt-bottom{
  margin-top: 300px;
}

#main-opinions {
  background-color: $blue;
  #opiniones-slider {
    height: 400px;
  }
  .opiniones-home {
    background-color: $blue;
    min-height: 170px;
    color: white;
    font-size: 18px;
  }
  .opiniones-home p {
    margin-top:30px;
    a {
      color: white;
    }
  }

  .text-muted{
    color:white;
    font-size:12px;
    font-weight: 600;
  }
}
.home-graphic {
  color: $blue;
  font-size:30px;
  #margin-top:-40px;
  text-align:center;

}
.home-graphic1 {
font-size:48px;
font-weight:700;
margin-bottom:40px;
}

.cumplimientos {
  .tit-gra-home{
    font-size:18px;
  }

  .porcent-home{
    font-size: 30px;
    font-weight: 700;
    text-align:center;
  }

  .txt-coherencia{
    color: $cian;
    font-weight: 600;
    font-size: 12px;
  }

  .escala-home {
    font-weight: 700;
    font-size:16px;
    color:$cian;
  }

  .read-more a {
    color: #CCC;
    margin-bottom: 35px;
    text-decoration: underline
  }
}
/*charts homepage*/
.chart-1 {
  background: url(../img/i_agricultura.png) 50%/auto no-repeat;
}
.chart-2 {
  background: url(../img/i_ciencia.png) 50%/auto no-repeat;
}
.chart-3 {
  background: url(../img/i_cultura.png) 50%/auto no-repeat;
}
.chart-4 {
  background: url(../img/i_democracia.png) 50%/auto no-repeat;
}
.chart-5 {
  background: url(../img/i_desarrollosocial.png) 50%/auto no-repeat;
}
.chart-6 {
  background: url(../img/i_economia.png) 50%/auto no-repeat;
}
.chart-7 {
  background: url(../img/i_educacion.png) 50%/auto no-repeat;
}
.chart-8 {
  background: url(../img/i_energia.png) 50%/auto no-repeat;
}
.chart-9 {
  background: url(../img/i_genero.png) 50%/auto no-repeat;
}
.chart-10 {
  background: url(../img/i_estado.png) 50%/auto no-repeat;
}
.chart-11 {
  background: url(../img/i_infancia.png) 50%/auto no-repeat;
}
.chart-12 {
  background: url(../img/i_justicia.png) 50%/auto no-repeat;
}
.chart-13 {
  background: url(../img/i_medioambiente.png) 50%/auto no-repeat;
}
.chart-14 {
  background: url(../img/i_mineria.png) 50%/auto no-repeat;
}
.chart-15 {
  background: url(../img/i_obraspublicas.png) 50%/auto no-repeat;
}
.chart-16 {
  background: url(../img/i_pueblosoriginarios.png) 50%/auto no-repeat;
}
.chart-17 {
  background: url(../img/i_salud.png) 50%/auto no-repeat;
}
.chart-18 {
  background: url(../img/i_trabajo.png) 50%/auto no-repeat;
}
.chart-19 {
  background: url(../img/i_vivienda.png) 50%/auto no-repeat;
}

/*Opiniones */

#opiniones{
  margin-top:90px;
}

#opinion h1{
  margin-top: 70px;
  text-align: center;
}
.tx-promesa{
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.row_height {
  min-height: 325px;
}

.image-center {
  margin: {
  left: auto;
  right: auto;
  }
  padding:{
  top:15px;
  bottom:5px;
  }
}

@mixin tx-opinion {
  font-family: 'Open Sans';
  color: white;
  text-align:center;
  font-size: 14px;
  font-weight:600;
  padding:{
    left:40px;
    right:40px;
    bottom: 20px;
  }
}

.tx-opinion{
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
#opiniones {

  .row:nth-child(1) {
    div.col-md-6:nth-child(1){
      background-color: $blue;
      p {
        @include tx-opinion;
      }

    }
    div.col-md-6:nth-child(2){
      background-color: $cian;
      p {
        @include tx-opinion;
      }
    }
  }

  .row:nth-child(2) {
    div.col-md-6:nth-child(1){
      background-color: $red;
      p {
        @include tx-opinion;
      }
    }
    div.col-md-6:nth-child(2){
      background-color: $blue;
      p {
        @include tx-opinion;
      }
    }
  }

  .row:nth-child(3) {
    div.col-md-6:nth-child(1){
      background-color: $cian;
      p {
        @include tx-opinion;
      }
    }
    div.col-md-6:nth-child(2){
      background-color: $red;
      p {
        @include tx-opinion;
      }
    }
  }

  .row:nth-child(4) {
    div.col-md-6:nth-child(1){
      background-color: $blue;
      p {
        @include tx-opinion;
      }

    }
    div.col-md-6:nth-child(2){
      background-color: $cian;
      p {
        @include tx-opinion;
      }
    }
  }

  .row:nth-child(5) {
    div.col-md-6:nth-child(1){
      background-color: $red;
      p {
        @include tx-opinion;
      }

    }
    div.col-md-6:nth-child(2){
      background-color: $blue;
      p {
        @include tx-opinion;
      }
    }
  }

.row:nth-child(6) {
    div.col-md-6:nth-child(1){
      background-color: $cian;
      p {
        @include tx-opinion;
      }

    }
    div.col-md-6:nth-child(2){
      background-color: $red;
      p {
        @include tx-opinion;
      }
    }
  }

}


/**
 * Countdown
 */
 .image-countdown{
    background: url(../img/header2.png) 50%/auto no-repeat;
    height: 750px;
    margin-bottom:-230px;
    color: white;
    .countdownHolder {
      width: initial;
      margin:0 auto;
      font: 20px/1.5 'Open Sans Condensed',sans-serif;
      text-align:center;
      letter-spacing:-3px;
    }
 }

/**
 * Buttons
 */
.btn{
  border-radius: 25px;
  border: none;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
 }

.btn:hover {
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.6s;
}


.btn-default {
  background: $cian;
  /*
  background: -moz-linear-gradient(-45deg,  #f57c5d 0%, #fb9a5b 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f57c5d), color-stop(100%,#fb9a5b));
  background: -webkit-linear-gradient(-45deg,  #f57c5d 0%,#fb9a5b 100%);
  background: -o-linear-gradient(-45deg,  #f57c5d 0%,#fb9a5b 100%);
  background: -ms-linear-gradient(-45deg,  #f57c5d 0%,#fb9a5b 100%);
  background: linear-gradient(135deg,  #f57c5d 0%,#fb9a5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57c5d', endColorstr='#fb9a5b',GradientType=1 );
  */
}

.btn-default:hover {
  background: $blue;
  /*
  background: -moz-linear-gradient(-45deg,  #fb9a5b 0%, #f9b542 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fb9a5b), color-stop(100%,#f9b542));
  background: -webkit-linear-gradient(-45deg,  #fb9a5b 0%,#f9b542 100%);
  background: -o-linear-gradient(-45deg,  #fb9a5b 0%,#f9b542 100%);
  background: -ms-linear-gradient(-45deg,  #fb9a5b 0%,#f9b542 100%);
  background: linear-gradient(135deg,  #fb9a5b 0%,#f9b542 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9a5b', endColorstr='#f9b542',GradientType=1 );*/
}

.btn-primary {
  background-color: $cian;
  color: white;
}

.btn-primary:hover{
  background: $blue;
}

.btn-info {
  background: $cian;
}

.btn-info:hover{
  background: $blue;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 20px 30px;
  font-size: 14px;
  border-radius: 40px;
}

/*LABELS*/

.label {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5em 1em .4em;
  border-radius: 10px;
}

.label-default {
  background-color: $grey-light;
}

.label-primary {
  background-color: $yellow;
}

/*CUMPLIMIENTO*/

#fulfillment h1 {
  margin-top: 20px;
}

#fulfillments h3 {
  margin: 70px 0 0;
}

#fulfillment .chart-total .totalbajada{
    text-transform: uppercase;
    text-align: center;
    margin-top: 88px;
    font-size: 9px;
    font-weight: 600;
}

#fulfillment .chart-total .textototal{
    text-transform: uppercase;
    text-align: center;
    margin-top: 53px;
    margin-bottom: -166px;
    font-size: 9px;
    font-weight: 600;
}

#fulfillment .chart-total .ct-series-a .ct-slice-donut{
  stroke: $yellow;
}

#fulfillment .notatotal{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 9px;
    font-weight: 600;
}


.row.macro{
  margin: 30px 0 30px;
  .col-md-6{
    margin-top: 15px;
    margin-bottom: 10px;
  }
}


h5 {
  color: $blue-light;
  a, a:hover {
    color: $blue-light;
  }
}


.category-percentage {
  font-size: 24px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 8px;
  color: $blue;
}

.percentage {
  font-size: 24px;
}

#fulfillment .list-inline>li {
  margin-bottom: 5px;
  margin-left:-8px;

}
 .sec-promesas{
  font-size: 11.5px;
  margin-top:10px;
  }
.fulfillment .col-md-5 {
    margin: 10px 0 0;
}

.progress {
  height: 20px;
  margin: 7px 0 0;
  background-color: #FFFFFF;
  border-radius: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 70%;
  margin-top: 18px;
}

.progress-bar {
  background-color: $blue;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

i.fa.fa-info-circle{
  font-size: 24px;
  margin-top: -7px;
}

i.fa.fa-info-circle:hover{
  color: $blue-dark;
}

i.fa.fa-link{
  margin:20px 3px 3px 3px;
}

#fulfillment{
  .panel-default > .panel-heading{
    background-color: #F7F7F7;
  }
  .panel{
    -webkit-box-shadow: none;
  }
  .panel-body{
    padding: 0;
    background-color: white;
  }
  .panel-title{
    color: #C52727;
  }
  .panel-default{
    border-color: #F7F7F7;
  }
}

.titulo-tabla{
  color: #40BDF1;
}

.table>thead>tr>th{
  border-bottom: none;
}
.panel-default>.panel-heading {
    color: $grey;
    background-color: $grey-lighter;
    border-color: $grey-lighter;
}

.panel-default {
    border-color: $grey-lighter;
}

.promess {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.promess:last-child {
    border-bottom: none;
}

.promess .col-md-2 {
    border-left: 1px solid $grey-lighter;
}

.color-high{
  border-left: 5px solid;
  border-color: $color-high;
}

.color-medium{
  border-left: 5px solid;
  border-color: $color-medium;
}

.color-low{
  border-left: 5px solid;
  border-color: $color-low;
}

.panel.panel-deafult.leyenda{
  background-color: #F7F7F7;
  padding: 13px 15px 4px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  h4{
    font-size: 14px;
    font-weight: 600;
  }
}

.panel.panel-deafult.leyenda-movil{
  background-color: #F7F7F7;
  padding: 13px 15px 4px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  display: none;
}

.row.leyenda{
  padding: 0 15px 0 15px;
}


/*CUMPLIMIENTO: GRAFICO TOTAL*/

.macroareas li a:hover {
  text-decoration: none;
}

#fulfillment .ct-series-a .ct-slice-donut {
  stroke: $blue-dark;
}

#fulfillment .ct-label {
  fill: $grey;
  font-weight: 900;
  margin-top: 53px;
}

#fulfillment .ct-series-b .ct-slice-donut {
  stroke: $grey-lighter;
}

.fulfillment-box {
  padding-top: 70px;
}

.ct-chart-fulfillment {
  margin-top: 150px;
  float: right;
  margin-bottom: 60px;
}

/*MODAL*/

.modal-header {
    background-color: $grey-lighter;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

/*NOSOTROS*/

#nosotros img {
  max-width: 250px;
}

#nosotros h1 {
  text-align: center;
}

.box-blue{
  background: $blue;
  color: #fff;
  height: 100%;
  position:relative;
  right: 0px;
  top: 0px;
  padding:50px;
}
.box-blue img {
  margin-bottom:30px;
  float:center;
}
.box-blue p{
  font-weight:600;
  line-height:25px;
}

.no-mt {
  margin-top:-19px;
}
.mg-text{
  padding: {
    left: 15px;
    right: 15px;
  }
}

/*VISUALIZACIONES*/
#visualizations h1{
  margin-top: 70px;
}


.visual-main {
  background-color: $grey-lighter;
  margin-bottom: 10px;
  padding: 20px;
}


/*FOOTER*/

footer {
  background: $blue-dark;
  color: white;
  margin-top: 50px;
  padding: 75px 0 50px;
  position: relative;
}

footer a {
  color: white;
}

footer img {
  max-width: 220px;
}


@media (min-width: 768px) {
  .image-countdown {
    font-size: 18px;
    font-weight: 700;
    height: 780px;
    .countdownHolder {
      font: 40px/1.5 'Open Sans Condensed',sans-serif;
      width:450px;
    }
  }

  #welcome {
    background: url(../img/header.png) 50%/auto no-repeat;
    height: 600px;
    h1 {
      margin-top:255px;
    }
    .jumbotron {
      h1 {
        margin-top:165px;
      }
      a {
          font-size: initial;
      }
    }
  }

  #main-opinions {
    #opiniones-slider {
      height: 290px;
    }
  }

  /*CUMPLIMIENTO*/

  #fulfillment h1 {
    margin-top: 70px;
  }

  /*Metodología*/
  #metodologia h1{
    margin-top: 70px;
  }

  .mg-text{
    padding: {
      top: 80px;
    }
  }
}

@media (min-width: 1024px){
  #main-opinions {
    #opiniones-slider {
      height: 250px;
    }
  }
}